In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbs

%matplotlib inline

In [2]:
candidates = pd.read_csv('data/score_board.csv')

In [3]:
candidates.head()

,id,year,gpa,maths_exam,art_exam,language_exam,social_activity,essay_score,interview_score,score,accepted
0,CS-1980-00001,1980,1.674275,0.082557,0.084508,0.008007,4,0.091328,0.012596,276,False
1,CS-1980-00002,1980,3.743429,0.898700,0.978949,0.937879,4,0.991515,0.999604,857,True
2,CS-1980-00003,1980,1.500251,0.075756,0.002541,0.216737,3,0.008463,0.001737,276,False
3,CS-1980-00004,1980,3.047625,0.993001,0.950673,0.763701,5,0.996858,0.949954,841,True
4,CS-1980-00005,1980,2.884417,0.396614,0.478490,0.180828,3,0.638742,0.182141,554,False

In [4]:
graduates = pd.read_csv('data/graduates.csv')

In [5]:
graduates.head()

              id  graduated
0  CS-1980-00002      False
1  CS-1980-00004       True
2  CS-1980-00007       True
3  CS-1980-00008      False
4  CS-1980-00012       True

In [6]:
students = pd.merge(candidates, graduates, on='id')

In [7]:
students.head()

,id,year,gpa,maths_exam,art_exam,language_exam,social_activity,essay_score,interview_score,score,accepted,graduated
0,CS-1980-00002,1980,3.743429,0.898700,0.978949,0.937879,4,0.991515,0.999604,857,True,False
1,CS-1980-00004,1980,3.047625,0.993001,0.950673,0.763701,5,0.996858,0.949954,841,True,True
2,CS-1980-00007,1980,2.897191,0.718591,0.941583,0.489207,4,0.980957,0.912487,811,True,True
3,CS-1980-00008,1980,3.948450,0.953325,0.981074,0.914729,1,0.999489,0.997138,875,True,False
4,CS-1980-00012,1980,3.939870,0.452506,0.952712,0.974585,4,0.940924,0.973076,790,True,True